In [3]:
#Data Types

#String
a='Data science'
print(a)
type(a)

#boolean
z=True
type(z)

Data science

bool

In [5]:
#Type casting

print(int (7.2)+3)
print(float(10))
print(float("10"))
print(bool(""))
print(bool(0+0j))
print(int(True))

#auto typecsting
print (True+3+5)

10
10.0
10.0
False
False
1
9

In [7]:
#Slicing

a= "aneesha jose"
print(a)
print(a[2:7])
print(a[-4:-1])
print(a[-4:])
print(a[::2])
print(a[::-1])

aneesha jose
eesha
jos
jose
aesajs
esoj ahseena

In [11]:
#Equality opeator
print(5==3)
print(5!=3)
print("anee"=="Anee")
print("anee"=="anee")

False
True
False
True

In [13]:
#logical opeator

#OR
a=9
b=13
if (a>b or a<b):
    print("either a or b is greater than 0")

#NOT
c= False
if not c:
    print("c is flase")
else:
    print("c is true")

either a or b is greater than 0
c is flase

In [23]:
#Arithmetic operators

#addition
a = 5 
print(a)
a += 4
print(a)

#modulus
a %= 5
print(a)

#Exponentiaton
a **= 3
print(a)

5
9
4
64